
body,
html {  min-height: 100%;  }


body{
   
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebfbfa+0,ddf9f7+50,d2f8f8+100 */
    background: rgb(235,251,250); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(235,251,250,1) 0%, rgba(221,249,247,1) 50%, rgba(210,248,248,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(235,251,250,1) 0%,rgba(221,249,247,1) 50%,rgba(210,248,248,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(bottom,  rgba(235,251,250,1) 0%,rgba(221,249,247,1) 50%,rgba(210,248,248,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebfbfa', endColorstr='#d2f8f8',GradientType=0 ); /* IE6-9 */
    background-size: cover;
    background-repeat: no-repeat;
    
    
}


body {
    
    overflow-x: hidden;  
}


.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;} /* Dropdown menu color */


/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0; 
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; /* Transition of main content to left padding for side menu */
}

#wrapper.toggled {
    padding-left: 220px; /* How far out main content shifts for side menu*/
}

#sidebar-wrapper {
    z-index: 1000; 
    left: 220px; /*Move element 220 px right of left position*/
    width: 0;
    height: 100%;
    margin-left: -220px; /* Move left margin 220px left of screen */
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; /* Transition of side bar menu from left outside to in view */
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px; /*Width of side menu */
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px; /* Top padding for main content text */
    
    
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 40px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before { /* Pseudo element of little flag */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px; /* width of little color for each list */
    background-color: #1c1c1c; /* black color */
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width 0.2s ease-in; /* Transition of list color retracting */

}

.sidebar-nav .dropdown-menu  > li:nth-child(1):before {   
    background-color: #ead24c;
}

.sidebar-nav > li:nth-child(2):before {
    background-color: #ec1b5a; /* Red color before the list background color */  
}
.sidebar-nav > li:nth-child(3):before {
    background-color: #79aefe;   
}
.sidebar-nav > li:nth-child(4):before {
    background-color: #314190;   
}
.sidebar-nav > li:nth-child(5):before {
    background-color: #279636;   
}
.sidebar-nav > li:nth-child(6):before {
    background-color: #7d5d81;   
}
.sidebar-nav > li:nth-child(7):before {
    background-color: #ead24c;   
}
.sidebar-nav > li:nth-child(8):before {
    background-color: #2d2366;   
}
.sidebar-nav > li:nth-child(9):before {
    background-color: #35acdf;   
}
.sidebar-nav > li:hover:before,
.sidebar-nav  > li.open:hover:before { /* On hover of 'before' pseudo element */
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in; /* Transition of width of before to 100% causing the sliding colors */

}

.sidebar-nav > li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
    font-family: 'Fjalla One', sans-serif;
}

.sidebar-nav  > li a:hover,
.sidebar-nav > li a:active,
.sidebar-nav > li a:focus,
.sidebar-nav > li.open a:hover,
.sidebar-nav > li.open a:active,
.sidebar-nav > li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

/* Direct child of sidebar-nav, header in side menu */
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}

/* Dropdown menu inside sidebar menu */
.sidebar-nav .dropdown-menu { 
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
.social-icons  ul{
width: 100%;
position: relative;
margin: 0;
padding: 5px;
}
.social-icons li{
    display:inline;
    margin-left: 0;
    margin-right: 10px;
    padding: 3%;
}
.social-icons i{
font-size: 25px;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

/*-------------------------------*/
/*            Profile pic           */
/*-------------------------------*/
#ucsc-background{
   
  
    width: 100%;
    height: 20%;
   
}
.background-header{
  
    width: 100%;
   /* height: 20%; */
    height: 50%;
    position: absolute;
  
    opacity: 0.6;
    left: 0px;
    top: 0px;
    z-index: -1;
   
}
#background-header-image {
    width:100%;
    height:80%;
}


.stack-one{
    margin: auto;
    border: 6px solid #fff;
    border-radius: 50%; 
    height: 190px ;width: 190px ;
    float: left;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}


#profile-pic{
    height: 180px;
    width: 180px;
    border-radius: 50%; 
    margin: auto;
    display: block;
    
}


#title{
    color: black;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.header-description{
    margin-left: 40%;
    position: absolute;
    float: left;
  
}

.header-description p{
    color: black;
    font-weight: 550;
}

.panel-wrap{
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    display: flex;
    justify-content:center;
    margin-left: 20%;
    margin-right: 20%;
}

.panel{
    margin: 0;
    width: 150px;
   
}

/*-------------------------------*/
/*         Contact section         */
/*-------------------------------*/
.main-content{
    height: 800px;
}

.contact-section{
    position: relative;
    bottom: 0;
}

/* Contact section Paragraph styles */
.form-desc{
    text-align: center;
    color: black;
    font-weight: 550;

}

/* Contact section's header styles */
.contact-header{
    padding-bottom: 20px;
    margin-bottom: 20px;
   
   
}

.contact-header-border {
   
   position: relative;
   margin: auto;
   margin-top: 25px;
   border-bottom: 1px solid black;
   width: 5%;
}

/* Contact section's input form styles */
.input{
    position: relative;
    margin: auto;
    width: 30%;
    margin-bottom: 2%;
    
}

/* Contact section's text area form styles */
.textarea{
    
    width: 30%;
     display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    
}

/* Contact section's submit button styles */
.submit-button{
    padding-top: 10px;
    width: 25px;
    padding-bottom: 20px;
    position: relative;
    margin: auto;
    left: 65px;


}
.submit-button button{
    font-size: 15px; 
    border-radius: 8px; 
    background-color:white; 
    border: 2px solid #D3D3D3; 
    padding: 10px 15px;

}
/*-------------------------------*/
/*           Responsive          */
/*-------------------------------*/


@media screen and (max-width:960px){
   .background-header{       
        height: 50%; 
       
    }   
    .stack-one{      
        height: 160px ;width: 160px ;       
    }

    #profile-pic{
        height: 150px;
        width: 150px;
         
    }

    
} 

@media screen and (max-width:960px){
   .background-header{       
        height: 40%; 
       
    }   
    .stack-one{      
        height: 140px ;width: 140px ;       
    }

    #profile-pic{
        height: 130px;
        width: 130px;
         
    }
    
    #title{
        font-size: 8mm;
    }

    .header-description{
        
       font-size: 3mm;
    }

    
} 

@media screen and (max-width:640px){
    #profile-pic{
        
        height: 130px;
        width: 130px;
         
    }
   
   
    #title{
        width: 100%;
        font-size: 8mm;
        float: left;
    }

    .header-description{
        margin-left: 0;
        position: relative;
        display: block;
        width: 100%;
       font-size: 3mm;
    }

 

}

